.createEventContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}


@media screen and (max-width: 600px) {
    .createEventContainer {
        background-color: white;
    }
}